<script type="text/javascript">
  $(document).ready(function() {
   $("#state_id").change(function() {
    getCitiesByState("id="+$("#state_id").val());
  });
 });

  function getCitiesByState(id) {
    $.getJSON("/cities_by_state", id, function(j) {
      var options = '<option value="">Selecione a Cidade</option>';
      $.each(j.cty, function(i, item) {
        options += '<option value="' + item.id + '">' + item.n + '</option>';
      });
      $("#user_city_id").html(options);
    });
  }

  function mascaraData(campoData){
    var data = campoData.value;
    if (data.length == 2){
      data = data + '/';
      document.forms[0].data.value = data;
      return true;              
    }
    if (data.length == 5){
      data = data + '/';
      document.forms[0].data.value = data;
      return true;
    }
  }




</script>