<body>
  <legend>
    <font size="6">
      <p>Sobre nós</p>
    </font>
  </legend>
  <p>
    O site Pentatonic foi idealizado e desenvolvido pelo aluno Doglas Batista da Silva, estudante da Fundação Educacional do Municipio de Assis (FEMA), ex-professor de guitarra
  </p>

  <p>
    Diferente de E-Commerces como o <strong>Mercado Livre</strong> e o <strong>Bom Negócio</strong> que tem o foco na comercialização de produtos físico como computadores, roupas, etc... A Pentatonic é voltada para mídias digitais, mais especificamente vídeo aulas de guitarra, onde qualquer usuário pode produzir e comercializar seu material, tornando-o assim o site um E-Commerce interativo.
  </p>

  <p>
    O sistema tem como base a comercialização de vídeo-aulas através de um sistema de download, abolindo assim o uso de mídias físicas como DVDs ou Blu Rays. Outro ponto interessante do site é que ele presta um serviço de união, dentro da comunidade “guitarrística”.
  </p>
  <p>
    Seja bem vindo.<br/>
    Equipe PENTATONIC.
  </p>
</body>