<%= form_for @order, :url => { :action => "save" } do |f| %>
<form>
  <fieldset>
    <legend>
      <h2>Finalizando a  compra</h2>
      Tem certeza que deseja finalizar sua compra?<br/>
    </legend>
    <button type="submit" class="btn">Finalizar</button>
  </fieldset>
</form>
<% end %>