<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../../assets/photo.css">
</head>
<body>

  <% cache ['store', Product.last] do %>
    <div>    
    <ul id="photo-album" style="display: block;">
      <% @products.each do |product| %>
        <% cache ['entry', product] do %>
          <li><%= link_to (image_tag product.cover.url(:medium)), product %><%= product.title %></li>
                
        <% end %>
      <% end %>
    </ul>
    </div>
  <% end %>
</body>
</html>

