<h1>Catalogo de produtos</h1>

<% cache ['store', Product.last] do %>
  <% @products.each do |product| %>
    <% cache ['entry', product] do %>
      <div class="entry">
        <%= link_to (image_tag product.cover.url(:small)), product %>
        <h3><%= product.title %></h3>
          <span class="price"><%= number_to_currency(product.price) %> </span>
      </div>
    <% end %>
  <% end %>
<% end %>
