<table class="table table-striped">
    <tr>
      <th>Código da Venda</th>
      <th></th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
      <td><%= order.id %></td>
      <td><%= link_to "Download", "/welcome/down_prod/order/#{order.id}"%></td>
      </tr>
    <% end %>
  </table>