<table class="table table-striped">
    <tr>
      <th>Pedido</th>
      <th>Data</th>
      <th>Link</th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
      <td><%= order.id %></td>
      <td><%= order.created_at.to_date.strftime('%d/%m/%y') %></td>
      <td><%= link_to "Download", "/welcome/down_prod/order/#{order.id}"%></td>
      </tr>
    <% end %>
  </table>