<body>
  <legend>
    <h2><%= @user.nickname %></h2>
    <h5><%= @user.email %></h5>
  </legend>
  
  <% cache ['store', Product.last] do %>
    <div>    
    <ul id="photo-album" style="display: block;">
      <% @products.each do |product| %>
        <% cache ['entry', product] do %>
          <li><%= link_to (image_tag product.cover.url(:medium)), product %><%= product.title %></li>      
        <% end %>
      <% end %>
    </ul>
    </div>
  <% end %>
</body>

