<body>
  <p>
    <legend>
      <strong>Segurança</strong>
    </legend>
    A Pentatonic investe em tecnologias avançadas de proteção de dados para oferecer mais segurança a seus clientes. Nenhuma informação trafega pela rede sem ser criptografada, utilizando os melhores sistemas disponíveis no mercado.
  </p>
  <p>
    <legend>
    </legend>
    <legend>
      <strong>Dados Bancários</strong>
    </legend>
    A Pentatonic delega a instituições financeiras especializadas, o tratamento de informações de pagamento. Somente realizamos transações através de serviços de pagamentos digitais reconhecidos e comprovadamente testados.
  </p>
  <p>
    <legend>
    </legend>
  </p>
</body>