@charset "UTF-8";


ul#photo-album {
  width: 100%;
  margin: 0 auto;
  top: 0px;
  padding: 1%;
  overflow:  hidden;
  list-style: none;
}

ul#photo-album li {
  float: left;
  padding: 0px;
  width: 150px;
  height: 200px;
  margin: 20px;
  border: 5px solid #ffffff;
  background: #ffffff;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}

