<p>Welcome seu bixa <%= @resource.name %>!</p>
<p>Clique no link abaixo para confirmar o seu e-mail:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
