<%= form_tag products_path, method: :get, class: 'search' do %>
  <%= text_field_tag :q, @search_query, placeholder: 'Buscar por...', class: 'search-query' %>
  <button type="submit" class="btn">Enviar</button>
<% end %>